{{ define "main" }}
{{ block "banner" . }}{{ partial "banner.html" . }}{{ end }}
{{ block "navbar" . }}{{ partial "navbar.html" . }}{{ end }}
{{ block "features" . }}{{ partial "features.html" . }}{{ end }}
{{ block "steps" . }}{{ partial "steps.html" . }}{{ end }}
<!-- {{ block "video" . }}{{ partial "video.html" . }}{{ end }} -->
{{ block "pricing" . }}{{ partial "pricing.html" . }}{{ end }}
<!-- {{ block "cta" . }}{{ partial "cta.html" . }}{{ end }} -->
<!-- {{ block "counter" . }}{{ partial "counter.html" . }}{{ end }} {{ block "testimonials" . }}{{ partial "testimonials.html" . }}{{ end }} -->
<!-- {{ block "formnet" . }}{{ partial "formnet.html" . }}{{ end }} -->
{{ block "rent" . }}{{ partial "rent.html" . }}{{ end }}
 <!-- {{ block "faqsb" . }}{{ partial "faqsb.html" . }}{{ end }} -->
  {{ block "acordeon" . }}{{ partial "acordeon.html" . }}{{ end }} {{ end }}
