<!--===========================
=            About            =
============================-->

<section class="about section bg-2" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 mr-auto">
                <!-- Image Content -->
                <div class="image-block">
                    <img src="images/phones/iphone-feature.png" alt="iphone-feature" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-6 col-md-10 m-md-auto align-self-center ml-auto">
                <div class="about-block">
                    <!-- About 01 -->
                    <div class="about-item active">
                        <div class="icon">
                          <i class='uil uil-wifi'></i>
                        </div>
                        <div class="content">
                            <h5>Only press the button</h5>
                            <p>Only press the button
Simply by turning on the WiFi switch, you can enjoy high-speed mobile broadband network on the spot, without carry a bulk of internet cable.
                        </div>
                    </div>
                    <!-- About 02 -->
                    <div class="about-item active">
                        <div class="icon">
                            <i class='uil uil-star'></i>
                        </div>
                        <div class="content">
                            <h5>Easy to Use</h5>
                            <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete accountaJust a button press
You instantly connect just by pressing a button. Easier impossible!</p>
                        </div>
                    </div>
                    <!-- About 03 -->
                    <div class="about-item">
                        <div class="icon">
                            <i class='uil uil-mobile-android'></i>
                        </div>
                        <div class="content">
                            <h5>Share it with 5 devices!</h5>
                            <p>Our dongle allows you a simultaneous connection for up to five devices, such as phones, tablets and laptops.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--====  End of About  ====-->
