<section class="cta-download bg-0"  >
    <div class="row">
        <div class="col-8 mx-auto">
          <div id="accordion" role="tablist" aria-multiselectable="true">
            <div class="card ">
              <div class="card-header bg-blue" role="tab" id="headingOne">
                <div class="px-2">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                      <h5 style="color: white">How do I connect to the pocket wifi?</h5>
                  </a>
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
              </div>
              <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="">
                <div class="card-block">
                  <p>Hold the bottom for a few seconds until all the lights get green.
                  On your phone, tablet or laptop, go to Settings/Wifi and select your network
                  The wifi name is MobileWiFiSpain
                  The wifi password is sticked to the back of the 4G device
                  Welcome to your 4G connection in Spain :)</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div  class="card-header bg-blue" role="tab" id="headingTwo">
                <div class="mb-0">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                      <h5 style="color: white" >Why choosing our pocket wifi service?</h5>
                  </a>
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
              </div>
              <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false">
                <div class="card-block">
                <p>  The mobile data plans we are offering allows you to surf with nearly no restrictions, without having to spend a fortune on roaming fees when in Spain. The average 4G speed in Spain is 30MBps.
                  Our pay as you go pocket wifi xxxx Huawei xxxxx creates a private and secure wifi connection within a 20 meters radium, where you could connect up to 10 different mobile devices such as laptops, phones (both iPhone and Androids) or tablets (both iPads and Android).</p>

                <p>  We work with transparent prices, no small letter, no hidden fees. The Vat and courier fees are also included in the total wifi rental price, displayed on our main page.

                  The Pocket Wifi (HOTSPOT MiFi ) can automatically create group internet access and individual WiFi hotspots, wirelessly connect to various devices, such as iPad, laptops, digital cameras, iPhone, Android phone and PSPs.

                  It's a 4G  handheld device which provides you with WIRELESS INTERNET ACCESS ANYWHERE IN SPAIN.

                  This Mobile WiFi is just like your home wireless router, but pocket-sized, efficient and personal. Plus, it can be used EVERYWHERE Apartment or Beach.</p>
                </div>
              </div>
            </div>
            <!-- <div class="card">
              <div class="card-header bg-blue" role="tab" id="headingThree">
                <div class="mb-0">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                      <h5 style="color: white" style="color: white">Collapsible Group Item</h5>
                  </a>
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
              </div>
              <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false">
                <div class="card-block">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div> -->
            <!-- <div class="card">
              <div class="card-header bg-blue" role="tab" id="headingOne">
                <div class="mb-0">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                      <h5 style="color: white">Collapsible Group Item</h5>
                  </a>
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
              </div>

              <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="">
                <div class="card-block">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div> -->
            <div class="card">
              <div class="card-header bg-blue" role="tab" id="headingTwo">
                <div class="mb-0">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                      <h5 style="color: white">How do I return the 4G pocket wifi device?</h5>
                  </a>
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
              </div>
              <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false">
                <div class="card-block">
                  Again, simple! In the package we add an envelope with pre-established credentials, stamp and our address. Just put the mifi box in and drop it to the nearest post box office.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header bg-blue" role="tab" id="headingThree">
                <div class="mb-0">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                      <h5 style="color: white">Where do I receive my 4G pocket wifi?</h5>

                  </a>
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
              </div>
              <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false">
                <div class="card-block">
                  <p>
                    Wherever you tell us to. We tend to deliver it ideally the day prior to your arrival if the address provided hotel or holiday apartment has a reception, so you would have it ready to collect upon arrival, at check-in.
                    If the address in Spain you supply us with is a private residence or a self catering, then we would need you to tell us a suitable time frame for you so we can instruct the courier to deliver when you are at home.
                    In the event you prefer to collect it from a pick-up point (the nearest fast courier office). Upon request, we email you the exact location, GPS coordinates, opening hours and their phone number.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>
