<!--=============================
=            Counter            =
==============================-->

<section class="section counter bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="counter-item">
                    <!-- Counter Number -->
                    <h3>29k</h3>
                    <!-- Counter Name -->
                    <p>Download</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="counter-item">
                    <!-- Counter Number -->
                    <h3>200k</h3>
                    <!-- Counter Name -->
                    <p>Active Account</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="counter-item">
                    <!-- Counter Number -->
                    <h3>60k</h3>
                    <!-- Counter Name -->
                    <p>Happy User</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="counter-item">
                    <!-- Counter Number -->
                    <h3>300k<sup>+</sup></h3>
                    <!-- Counter Name -->
                    <p>Download</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--====  End of Counter  ====-->
