<!--=============================================
=            Call to Action Download            =
==============================================-->

<section class="cta-download bg-3 overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="image-block"><img class="img-fluid" src="images/phones/iphone-chat.png" alt=""></div>
            </div>
            <div class="col-lg-7">
                <div class="content-block">
                    <!-- Title -->
                    <h2>Free Download Now</h2>
                    <!-- Desctcription -->
                    <p>Demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee idea of denouncing pleasure and praising</p>
                    <!-- App Badge -->
                    <!-- <div class="app-badge">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a href="#"><img class="img-fluid" src="images/app-badge/google-play.png" alt="google-play"></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><img class="img-fluid" src="images/app-badge/app-store.png" alt="app-store"></a>
                            </li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>

<!--====  End of Call to Action Download  ====-->
