<!--===================================
=            Pricing Table            =
====================================-->

<section class="pricing section bg-shape" id="pricing">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Choose Your Plan</h2>
                    <!-- <p>Demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee idea of denouncing pleasure and praising</p> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <!-- Pricing Table -->

                <div class="pricing-table featured text-center">
                    <!-- Title -->
                    <!-- GB INCLUDED-->

                    <div class="title">
                      <h3>25 GB</h3>
                      <p><span>Up to 10 Days</span></p>
                      <!-- Counter Name -->
                    </div>
                    <!-- Price Tag -->
                    <div class="price">
                        <p>35€</p>
                    </div>
                    <!-- Features -->
                    <ul class="feature-list">
                        <li>25 Gb Data Included</li>
                        <li>Up to 10 Devices</li>
                        <li>Speed 4G</li>
                    </ul>
                    <!-- Take Action -->
                    <div class="action-button">
                        <a href="" class="btn btn-main-rounded">Rent Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <!-- Pricing Table -->
                <div class="pricing-table  text-center">
                  <div class="title">
                    <h3>50 GB</h3>
                    <p><span>Up to 30 Days</span></p>
                    <!-- Counter Name -->
                  </div>
                  <!-- Price Tag -->
                  <div class="price">
                      <p>75€</p>
                  </div>
                  <!-- Features -->
                  <ul class="feature-list">
                      <li>50 Gb Data Included</li>
                      <li>Up to 10 Devices</li>
                      <li>Speed 4G</li>
                  </ul>
                  <!-- Take Action -->
                    <div class="action-button">
                        <a href="" class="btn btn-main-rounded">Rent Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <!-- Pricing Table -->
                <div class="pricing-table featured text-center">
                  <div class="title">
                    <h3>75 GB</h3>
                    <p><span>Up to 30 Days</span></p>
                    <!-- Counter Name -->
                  </div>
                  <!-- Price Tag -->
                  <div class="price">
                      <p>90€</p>
                  </div>
                  <!-- Features -->
                  <ul class="feature-list">
                      <li>75 Gb Data Included</li>
                      <li>Up to 10 Devices</li>
                      <li>Speed 4G</li>
                  </ul>
                  <!-- Take Action -->
                    <div class="action-button">
                        <a href="" class="btn btn-main-rounded">Rent Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--====  End of Pricing Table  ====-->
