e
<!--===========================
=            About            =
============================-->

<section class="about section bg-0" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 mr-auto">
                <!-- Image Content -->
                <div class="image-block">
                    <img src="images/mifi/huawei-white.png" alt="mifi-device" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-6 col-md-10 m-md-auto align-self-center ml-auto">
                <div class="about-block">
                    <!-- About 01 -->
                    <div class="about-item ">
                      <button type="button" class="btn btn-main-rounded"> <span class="badge">1</span></button>
                        <div class="content">
                            <h5>Choose your plan and Fill in your booking form</h5>
                        </div>
                    </div>
                    <!-- About 02 -->
                    <div class="about-item ">
                      <button type="button" class="btn btn-main-rounded"> <span class="badge">2</span></button>
                        <div class="content">
                            <!-- <h5>Receive our confirmation and payment request</h5> -->
                            <h5>Receive our confirmation and payment request</h5>
                        </div>
                    </div>
                    <!-- About 03 -->

                    <div class="about-item ">
                      <button type="button" class="btn btn-main-rounded"> <span class="badge">3</span></button>
                        <div class="content">
                            <!-- <h5>Share it with 5 devices!</h5> -->
                            <h5>Your 4G wifi device will be delivered to you on the day of the arrival</h5>
                        </div>
                    </div>

                    <!-- About 043 -->

                    <div class="about-item ">
                      <button type="button" class="btn btn-main-rounded"> <span class="badge">4</span></button>
                        <div class="content">
                            <!-- <h5>Share it with 5 devices!</h5> -->
                            <h5>Enjoy your 4G connection during your stay in Spain</h5>
                        </div>
                    </div>

                    <!-- About 05 -->

                    <div class="about-item ">
                      <button type="button" class="btn btn-main-rounded"> <span class="badge">5</span></button>
                        <div class="content">
                            <!-- <h5>Share it with 5 devices!</h5> -->
                            <h5>The day of the check-out, drop the 4G device to the nearest post office box</h5>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>

<!--====  End of About  ====-->
