<!--=================================
=            Testimonial            =
==================================-->

<section class="section testimonial bg-primary-shape" id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2 class="text-white">Our Happy Customers</h2>
                    <p class="text-white">Demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee idea of denouncing pleasure and praising</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 m-auto">
                <!-- Testimonial Carosel -->
                <div class="testimonial-slider">
                    <!-- testimonial item -->
                    <div class="testimonial-item">
                        <div class="content">
                            <div class="name">
                                <h5>Kris lazy Cistin Miloti</h5>
                            </div>
                            <div class="pos-in-com">
                                <p>CEO at <span>Themefisher</span></p>
                            </div>
                            <div class="speech">
                                <p>Explain to you how all this mistaken idea of denouncing tis pleasure and praising pain was born and I will give you a complete praising the account is account the. </p>
                            </div>
                            <ul class="rating list-inline">
                                <li class="list-inline-item">
                                    <i class="tf-ion-android-star"></i>
                                    <i class="tf-ion-android-star"></i>
                                    <i class="tf-ion-android-star"></i>
                                    <i class="tf-ion-android-star"></i>
                                    <i class="tf-ion-android-star"></i>
                                </li>
                            </ul>
                        </div>
                        <!-- <div class="image">
                            <img class="img-fluid" src="images/testimonial/review-person-one.png" alt="testimonial-person">
                        </div> -->
                    </div>
                    <!-- testimonial item -->
                    <div class="testimonial-item">
                        <div class="content">
                            <div class="name">
                                <h5>Kris lazy Cistin Miloti</h5>
                            </div>
                            <div class="pos-in-com">
                                <p>CEO at<span>Themefisher</span></p>
                            </div>
                            <div class="speech">
                                <p>Explain to you how all this mistaken idea of denouncing tis pleasure and praising pain was born and I will give you a complete praising the account is account the. </p>
                            </div>
                            <div class="rating">
                                <ul class="rating list-inline">
                                    <li class="list-inline-item">
                                        <i class="tf-ion-android-star"></i>
                                        <i class="tf-ion-android-star"></i>
                                        <i class="tf-ion-android-star"></i>
                                        <i class="tf-ion-android-star"></i>
                                        <i class="tf-ion-android-star"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- <div class="image">
                            <img class="img-fluid" src="images/testimonial/review-person-one.png" alt="testimonial-person">
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--====  End of Testimonial  ====-->
