<!--=================================
=            Promo Video            =
==================================-->

<section class="section promo-video bg-3 overlay">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Promo Video -->
                <div class="video">
                    <img class="img-fluid" src="images/backgrounds/promo-video-bg.jpg" alt="video-thumbnail">
                    <div class="video-button video-box">
                        <!-- Video Play Button -->
                        <a href="javascript:void(0)">
                            <span class="icon" data-video="https://www.youtube.com/embed/g3-VxLQO7do?autoplay=1">
            <i class="tf-ion-ios-play-outline"></i>
          </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--====  End of Promo Video  ====-->
